{% extends 'base.html' %}
{% block content %}

{% if is_customer %}

<section class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 font-weight-bold">Hello dear Customer</h1>
            <p class="col-md-8 fs-4">You can create a new ticket, view your created tickets, buy a new ticket
                and view your bought tickets.</p>
        </div>
    </div>
</section>

{% elif is_employee %}

<section class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 font-weight-bold">Welcome Employee</h1>
            <p class="col-md-8 fs-4">Have fun</p>
        </div>
    </div>
</section>

{% else %}

<section class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 font-weight-bold">Super user not allowed to be here</h1>
            <p class="col-md-8 fs-4">Logout and Login/register a new account</p>
            <a href="/logout" class="btn btn-primary">Logout</a>
        </div>
    </div>
</section>

{% endif %}
{% endblock content %}